<!DOCTYPE html>
<html lang="en">
<head>


    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- favicon -->
    <link rel="icon" th:ref="@{/images/login-icon.png}"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    <div><img th:src="@{/images/login-icon.png}"></div>

    <form th:action="@{/login}" method="POST">
    <div>
        <input type="text" placeholder="Email" name="username" />
    </div>

        <div th:if="${param.logout}">Déconnexion réalisée avec succès</div>
        <div th:if="${param.error}">Login ou mot de passe incorrect</div>

    <div>
        <input type="password" placeholder="Mot de passe" name="password"/>
    </div>

    <div>
        <a href="#">Mot de passe oublié ?</a>
    </div>

    <div>
        <input type="submit" value="Connexion">
    </div>

    <div>
        <a href="#">S'inscrire ?</a>
    </div>
    </form>
</div>

</body>
</html>