<!DOCTYPE html>
<html lang="en">
<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    <div><img src="login-icon.png"></div>

    <div>
        <input type="text" placeholder="Email" />
    </div>

    <div>
        <input type="password" placeholder="Mot de passe " />
    </div>

    <div>
        <a href="#">Mot de passe oublié ?</a>
    </div>

    <div>
        <input type="button" value="Connexion">
    </div>

    <div>
        <a href="#">S'inscrire ?</a>
    </div>

</div>

</body>
</html>